__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.eggs/
*.log
logs/
*.pot
*.pyo
venv/
env/
ENV/
.venv/
.env
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.swp
*.swo
.DS_Store
.vscode/
.idea/
*.sublime-*
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
*.mo
*.pot
locale/
docker-compose.override.yml
